<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Votre facture proforma N° {{ proforma.proformaNumber }}</title>
</head>
<body>
  <p>Bonjour {{ proforma.client.lastName }} {{ proforma.client.firstName }},</p>
  <p>Veuillez trouver ci-joint votre facture proforma N° {{ proforma.proformaNumber }} en pièce jointe.</p>
  <p>Nous restons à votre disposition pour toute question.</p>
  <p>Cordialement,</p>
  <p>L'équipe de Mirent Location</p>
</body>
</html>